@import "_reset.styl"
@import "_utils.styl"
@import "_base.styl"

.container
  max-width 1040px
  width 90%
  margin 0 auto

th
  font-weight 400

.navbar
  background #333436
  padding 10px 0
  overflow hidden
  h1
    color: #fff
    float: left
    color: #FFF
    float: right
    font-size: 22px
    padding-top: 8px
    margin-right 20px
  a
    color #fff

.brand
  display block
  padding-top 5px
  float left

.nav
  float right
  list-style none
  li
    float left
    &:first-child
      a
        border-radius 5px 0 0 5px
        border-right 0
    &:last-child
      a
        border-radius 0 5px 5px 0
        border-left 0
  a
    display block
    padding 10px 22px
    background #222
    border 1px solid #000
    font-weight 700
  .active
    a
      background #119dd6

.module
  margin-top 40px

.totals
  li
    width 33.3333%
    float left
    text-align center
    h2
      margin 30px 0
    span
      text-align center
      display block
      margin 0 auto
      color #fff
      background #333436
      width 190px
      height 190px
      border-radius 50%
      font-size 50px
      font-weight bold
      padding-top 60px
      border 8px solid #fff
      &.nearTarget
        border-color #FFCD5B
      &.onTarget
        border-color #6DCD00
      &.offTarget
        border-color #CD0000
      &.pending
         &:before, &:after
          display inline-block
          content ""
          width 30px
          height 30px
          border-radius 50%
          margin 5px
          top 20px
          -webkit-animation-name fadeToggle
          -webkit-animation-duration 0.6s
          -webkit-animation-timing-function ease
          -webkit-animation-iteration-count infinite
        &:before
          background #fff
        &:after
          background #fff
          -webkit-animation-delay 0.3s

.users
  margin-bottom 30px
  table
    border-radius 0 0 10px 10px
  th
    background #333436
    color #fff
    font-weight 700
    &:first-child
      text-align left
  td
    background-color #f1f1f2
    border 1px solid #e1e1e2
    font-size 30px
    text-align center
    &:first-child
      text-align left
      font-size 18px
    &.pending
      &:before, &:after
        display: inline-block
        content: ""
        width: 10px
        height: 10px
        border-radius: 50%
        margin: 5px
        -webkit-animation-name: fadeToggle
        -webkit-animation-duration: 0.6s
        -webkit-animation-timing-function: ease
        -webkit-animation-iteration-count: infinite
      &:before
        background: #cd0000
      &:after
        background: #92da40
        -webkit-animation-delay: 0.3s

.users th, .users td
  padding 15px
  vertical-align top


.status
  vertical-align top
  padding-left 10px
  position relative
  padding-left 30px
  &:before
    width 19px
    height 19px
    position absolute
    display block
    left 4px
    top 0
    content ""

.status-false
  &:before
    background url("../images/inactive.png") no-repeat top left

.status-true
  &:before
    background url("../images/active.png") no-repeat top left