@import "reset.styl"

body
  line-height 1
  background #e1e4e7
  font-family "proxima-nova", Helvetica, Arial, sans-serif
  -webkit-font-smoothing antialiased

nav
  ul
    list-style none

blockquote,q
  quotes none

blockquote:before,blockquote:after,q:before,q:after
  content none

a
  margin 0
  padding 0
  font-size 100%
  vertical-align baseline
  background transparent
  text-decoration none

ins
  background-color #ff9
  color #000
  text-decoration none

mark
  background-color #ff9
  color #000
  font-style italic
  font-weight bold

del
  text-decoration line-through

abbr[title],dfn[title]
  border-bottom 1px dotted
  cursor help

table
  border-collapse collapse
  border-spacing 0
  width 100%

hr
  display block
  height 1px
  border 0
  border-top 1px solid #ccc
  margin 1em 0
  padding 0

input,select
  vertical-align middle

.container
  max-width 1040px
  width 90%
  margin 0 auto

th
  font-weight 400

.navbar
  background #333436
  padding 10px 0
  overflow hidden
  a
    color #fff

.brand
  display block
  padding-top 5px
  float left

.nav
  float right
  list-style none
  li
    float left
    &:first-child
      a
        border-radius 5px 0 0 5px
        border-right 0
    &:last-child
      a
        border-radius 0 5px 5px 0
        border-left 0
  a
    display block
    padding 10px 22px
    background #222
    border 1px solid #000
    font-weight 700
  .active
    a
      background #119dd6

.module
  margin-top 40px

.totals
  table
    border-collapse separate
    background #fff
    border-radius 10px
    padding 10px
    tfoot
      span
        display inline-block
        margin-top -32px
        position relative
        z-index 100
        color #fff
  td
    position relative
    width 33.333333%
    background-image -webkit-gradient(linear, 0 100%, 0 0, from(#43454b), color-stop(0.49, #43454b), color-stop(0.5, #2d2d31), to(#2d2d31))
    background-image -webkit-linear-gradient(bottom, #43454b 0%, #43454b 49%, #2d2d31 50%, #2d2d31 100%)
    background-image -moz-linear-gradient(bottom, #43454b 0%, #43454b 49%, #2d2d31 50%, #2d2d31 100%)
    background-image -o-linear-gradient(bottom, #43454b 0%, #43454b 49%, #2d2d31 50%, #2d2d31 100%)
    background-image linear-gradient(bottom, #43454b 0%, #43454b 49%, #2d2d31 50%, #2d2d31 100%)
    &:after
      content ""
      width 10px
      height 100%
      position absolute
      right -5px
      top 0
      background #fff
    &:first-child
      border-radius 10px 0 0 10px
    &:last-child
      border-radius 0 10px 10px 0
      &:after
        display none
    span
      display block
      margin 10px
      font-size 90px
      font-weight 700
      color #fff
      text-align center
      padding 8px 25px 10px 25px
      font-family Helvetica Neue
      background linear-gradient(rgba(205,207,210,1) 0%, rgba(186,188,190,1) 49%, rgba(45,45,49,1) 49%, rgba(45,45,49,1) 51%, rgba(242,244,247,1) 51%, rgba(236,238,241,1) 100%)
      -webkit-background-clip text
      -webkit-text-fill-color transparent
    &:nth-child(2)
      span
        margin 0

.users
  margin-bottom 30px
  table
    border-radius 0 0 10px 10px
  th
    background #333436
    color #fff
    font-weight 700
    &:first-child
      border-radius 10px 0 0 0
      text-align left
    &:last-child
      border-radius 0 10px 0 0
  td
    background #f1f1f2
    border 1px solid #e1e1e2
    font-size 30px
    text-align center
    &:first-child
      text-align left
      font-size 18px

.users th, .users td
  padding 15px
  vertical-align top

.status
  vertical-align top
  padding-left 10px
  position relative
  padding-left 30px
  &:before
    width 19px
    height 19px
    position absolute
    display block
    left 4px
    top 0
    content ""

.status-false
  &:before
    background url("../images/inactive.png") no-repeat top left

.status-true
  &:before
    background url("../images/active.png") no-repeat top left

