<html>
<head>
  <title>PAM 2.0</title>
  <script type="text/javascript" src="//use.typekit.net/pub1ypm.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <meta name="viewport" content="width=520, initial-scale=0.6">
  <link rel="stylesheet" href="css/main.css">
</head>
<body>

<header class="app-header">
  <div class="container">
    <a class="brand" href="#"><img src="images/logo.png" /></a>
  </div>
</header>

<div class="container">

  <ul class="filters cf">
    <li><a href="#" class="filter" data-range="day">Day</a></li>
    <li class="active"><a href="#" class="filter active" data-range="week">Week</a></li>
    <li><a href="#" class="filter" data-range="month">Month</a></li>
  </ul>

  <nav class="range">
    <a class="adjust-range prev-range" data-direction="past">Prev</a>
    <h1 id="date" class="">Loading...</h1>
    <a class="adjust-range next-range" data-direction="future">next</a>
  </nav>

  <div class="totals module cf">
    <ul>
    <li class="stats-hours">
        <span class="pending">&nbsp;</span>
        Total Hours
      </li>
      <li class="stats-billable">
        <span class="pending">&nbsp;</span>
        Billable Hours
      </li>
      <li class="stats-percent">
        <span class="pending">&nbsp;</span>
        Billable
      </li>
    </ul>
  </div>

  <script type="text/template" id="stats-template">
    <li class="stats-hours">
      <span><%= hours %></span>
      Total Hours
    </li>
    <li class="stats-billable">
      <span><%= billableHours %></span>
      Billable Hours
    </li>
    <li class="stats-percent">
      <span class="<%= percentClass %>"><%= percentBillable %><sup>%</sup></span>
      Billable
    </li>
  </script>

  <div class="users module">
    <div class="module-body">
      <table id="users">
        <thead>
          <tr>
            <th class="name"></th>
            <th>Total</th>
            <th>Billable</th>
            <th class="percent">% Billable</th>
          </tr>
        </thead>
        <tbody>
          <script type="text/template" id="person-template">
          <tr id=<%- hash %>>
            <td>
              <span class="status status-false"><img src=<%- gravatarUrl %> width="70"/></span>
              <div class="info">
                <%- name %>
                <span class="timezone"><%= localTime %></span>
              </div>
            </td>
            <td class="hours"></td>
            <td class="billable"></td>
            <td class="percent"></td>
          </tr>
          </script>
        </tbody>
      </table>
    </div>
  </div>

</div>


  <!-- build:js js/main.min.js -->
  <script data-main="js/main.js" src="js/vendor/requirejs/require.js"></script>
  <!-- endbuild -->

</body>
</html>
