<html>
<head>
  <title>PAM 2.0</title>
  <link rel="stylesheet" href="styles/main.css">
</head>
<body>

  <a href="#" class="filter" data-range="day">Day</a>
  <a href="#" class="filter" data-range="week">Week</a>
  <a href="#" class="filter" data-range="month">Month</a>
  
  <table id="users">
  <thead>
    
  <tr>
    <th>Name</th>
    <th>Department</th>
    <th>Total Hours</th>
    <th>Billable Hours</th>
    <th>Percent Billable</th>
  </tr>
  </thead>
  <tbody>
  <script type="text/template" id="person-template">
     <td><%- name %></td> 
     <td><%- department%></td> 
     <td id="hours">0.0</td>
     <td id="billable">0.0</td>
     <td id="percent">0.0</td>
  </script>
  </tbody>
  </table>

  <script type="text/template" id="stats-template">
      <tr>
        <td><%- hours %></td>
        <td><%- billableHours %></td>
        <td><%- percentBillable %></td>
      </tr>
  </script>

  <footer id="footer">
  <h2>Team Totals</h2>
    <table>
      <thead>
        <tr>
          <th>Total Hours</th>
          <th>Billable Hours</th>
          <th>Percent Billable</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </footer>
  
  <script src="lib/jquery.min.js"></script>
  <script src="lib/underscore-min.js"></script>
  <script src="lib/backbone-min.js"></script>
  <script src="lib/moment.min.js"></script>
  
  <script src="models/user.js"></script>
  <script src="models/entry.js"></script>

  <script src="collections/users.js"></script>
  <script src="collections/entries.js"></script>
  
  <script src="views/app.js"></script>
  <script src="views/user.js"></script>

  <script>

    var app = app || {}; 

    $(document).ready(function(){
      new app.AppView();
    });

  </script>
</body>
</html>