<html>
<head>
  <title>NODE BITCHES</title>

</head>
<body>

  <a href="#" class="filter" data-range="day">Day</a>
  <a href="#" class="filter" data-range="week">Week</a>
  <a href="#" class="filter" data-range="month">Month</a>

  <ul id="users">
    
  <script type="text/template" id="person-template">
    <li class="person">
     <strong><%- name %></strong> <%- department%> | <strong id="hours">0.0</strong> | <strong id="billable">0.0</strong>
    </li>
  </script>
  </ul>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="http://documentcloud.github.io/underscore/underscore-min.js" type="text/javascript"></script>
  <script src="http://documentcloud.github.io/backbone/backbone-min.js" type="text/javascript"></script>
  <script src="http://cdn.iamwebdeveloper.in/js/moment.js/1.7.0/moment.min.js" type="text/javascript"></script>
  <script>

  var app = app || {}; 

  app.User = Backbone.Model.extend ({
    defaults: {
      name: '',
      department: ''
    }
  });

  app.Entry = Backbone.Model.extend ({});

  var UserList = Backbone.Collection.extend ({
    model: app.User,
    url: '/users',
    parse: function (data) {
        var parsed = [];
        $(data).find('user').each(function (index) {
            var fname = $(this).find('first-name').text();
            var isActive = $(this).find('is-active').text();
            var uid = $(this).find('id').text();
            var dept = $(this).find('department').text();
            parsed.push({id: uid, name: fname, active: isActive, department: dept});
        })
        return parsed;
      },
      fetch: function (options) {
        options = options || {};
        options.dataType = "xml";
        Backbone.Collection.prototype.fetch.call(this, options);
      }    
  });

  var EntryList = Backbone.Collection.extend ({
    model: app.Entry,
    parse: function (data) {
        var parsed = [];
        $(data).find('day-entry').each(function (index) {
            var hours = $(this).find("hours").text();           
            parsed.push({hours: hours});
        })
        return parsed;
      },
      fetch: function (options) {
        options = options || {};
        options.dataType = "xml";
        Backbone.Collection.prototype.fetch.call(this, options);
      }    
  });

  app.Users = new UserList(); 

  app.AppView = Backbone.View.extend ({
    el: 'body',
    range: "week",
    events: {
      "click .filter" : "filterRange"
    },
    initialize: function() {
      app.Users.fetch({reset: true});
      this.listenTo(app.Users, 'reset', this.render);  
      this.getEnd();
    },
    render: function() {
      this.$("#users").html('');
      app.Users.each(this.showActive, this);
    },
    showActive: function(user) {
      var end = this.getEnd();
      var start = this.getStart(this.range);      
      if (user.get("active") === "true") {
        var view = new app.UserView({
          model: user, 
          endDate: end, 
          startDate: start
        });
        $("#users").append(view.render().el);
      }
    },
    getEnd: function() {
      return moment().format("YYYYMMDD");
    },
    filterRange: function(e){
      this.range = ($(e.currentTarget).data("range"));
      this.render();
    },
    getStart: function(range) {
      switch (range) {
        case "day": 
          return moment().format("YYYYMMDD");
          break;
        case "month": 
          return moment().startOf("month").format("YYYYMMDD");
          break;
        case "week": 
          if (moment().day() === 0) {            
            return moment().subtract('days', 6).format("YYYYMMDD")
          } else {
            return moment().startOf("week").format("YYYYMMDD");
          }
          break;
        default: 
          if (moment().day() === 0) {            
            return moment().subtract('days', 6).format("YYYYMMDD")
          } else {
            return moment().startOf("week").format("YYYYMMDD");
          }
      }
    }
  });

  app.UserView = Backbone.View.extend ({
    tagname: 'li',
    template: _.template($('#person-template').html()),    
    initialize: function(attrs) {   
      this.end = attrs.endDate; 
      this.start = attrs.startDate; 
      var self = this;
      var Entries = new EntryList({});
      Entries.url = '/users/' + this.model.get("id") + "/" + this.start + "/" + this.end;
      Entries.fetch(
        {success: function(){
          var totalHours = 0;
          Entries.each(function(entry){
            totalHours += parseFloat(entry.get("hours"));
          });
          totalHours = totalHours.toFixed(2);
          self.model.set({hours: totalHours});
          self.$el.find("#hours").html(self.model.get("hours"));
        }
      });  
      var Billable = new EntryList({});
      Billable.url = '/users/' + this.model.get("id") + "/billable/" + this.start + "/" + this.end;
      Billable.fetch(
        {success: function(){
          var billableHours = 0;
          Billable.each(function(entry){
            billableHours += parseFloat(entry.get("hours"));
          });
          billableHours = billableHours.toFixed(2);
          self.model.set({hours: billableHours});
          self.$el.find("#billable").html(self.model.get("hours"));
        }
      }); 
    },
    render: function() {
      this.$el.html(this.template(this.model.toJSON()));
      return this;
    }
  });

  $(document).ready(function(){
    new app.AppView();
  });

  </script>
</body>
</html>