html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
@-webkit-keyframes fadeToggle{0%{-webkit-transform:scale(0)}
50%{-webkit-transform:scale(1)}
100%{-webkit-transform:scale(0)}
}*{box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box}
.cf:before,.cf:after{content:" ";display:table}
.cf:after{clear:both}
.cf{*zoom:1}
body{line-height:1;background:#e1e4e7;font-family:"proxima-nova",Helvetica,Arial,sans-serif;-webkit-font-smoothing:antialiased}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0;width:100%}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
.container{max-width:1040px;width:90%;margin:0 auto}
th{font-weight:400}
.navbar{background:#333436;padding:10px 0;overflow:hidden;}
.navbar h1{color:#fff;float:left;color:#fff;font-size:22px;padding-top:8px;margin-right:20px}
.navbar a{color:#fff}
.brand{display:block;padding-top:5px;float:left}
.range,.date{float:left}
.range{padding:7px}
.range a{width:18px;height:24px;display:inline-block;text-indent:-9999px;cursor:pointer;background-repeat:no-repeat}
.prev-range{background-image:url("../images/arrow-left.png")}
.next-range{background-image:url("../images/arrow-right.png")}
.filter{float:left;list-style:none;}
.filter li{float:left;}
.filter li:first-child a{border-radius:5px 0 0 5px;border-right:0}
.filter li:last-child a{border-radius:0 5px 5px 0;border-left:0}
.filter a{display:block;padding:10px 22px;background:#222;border:1px solid #000;font-weight:700}
.filter .active a{background:#119dd6}
.navbar-right{float:right}
.module{margin-top:40px}
.totals li{width:33.3333%;float:left;text-align:center;}
.totals li h2{margin:30px 0}
.totals li span{text-align:center;display:block;margin:0 auto;color:#fff;background:#333436;width:190px;height:190px;border-radius:50%;font-size:50px;font-weight:bold;padding-top:60px;border:8px solid #fff;}
.totals li span.nearTarget{border-color:#ffcd5b}
.totals li span.onTarget{border-color:#6dcd00}
.totals li span.offTarget{border-color:#cd0000}
.totals li span.pending:before,.totals li span.pending:after{display:inline-block;content:"";width:30px;height:30px;border-radius:50%;margin:5px;top:20px;-webkit-animation-name:fadeToggle;-webkit-animation-duration:.6s;-webkit-animation-timing-function:ease;-webkit-animation-iteration-count:infinite}
.totals li span:before{background:#fff}
.totals li span:after{background:#fff;-webkit-animation-delay:.3s}
.users{margin-bottom:30px;}
.users table{border-radius:0 0 10px 10px}
.users th{background:#333436;color:#fff;font-weight:700;}
.users th:first-child{text-align:left}
.users td{background-color:#f1f1f2;border:1px solid #e1e1e2;font-size:30px;text-align:center;}
.users td:first-child{text-align:left;font-size:18px}
.users td.pending:before,.users td.pending:after{display:inline-block;content:"";width:10px;height:10px;border-radius:50%;margin:5px;-webkit-animation-name:fadeToggle;-webkit-animation-duration:.6s;-webkit-animation-timing-function:ease;-webkit-animation-iteration-count:infinite}
.users td.pending:before{background:#cd0000}
.users td.pending:after{background:#92da40;-webkit-animation-delay:.3s}
.users th,.users td{padding:15px;vertical-align:top}
.status{vertical-align:top;padding-left:10px;position:relative;padding-left:30px;}
.status:before{width:19px;height:19px;position:absolute;display:block;left:4px;top:0;content:""}
.status-false:before{background:url("../images/inactive.png") no-repeat top left}
.status-true:before{background:url("../images/active.png") no-repeat top left}
